* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    height: 3000px;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 3% 1% 17% 14% 14% 14% 20% 10% 7%;
    grid-template-areas: 
    "nav-bar"
    "closed-message"
    "pic-slider"
    "job-ad"
    "welcome"
    "freshly-made-meals"
    "menus"
    "meal-deals"
    "footer";
}

.nav-bar {
    width: 100%;
    grid-area: nav-bar;
    display: flex;
    align-items: center;
    background-color: #EB363D;
    color: #fff;
}
.half-container-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    
    
}
 
.half-container-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    
    
}

.logo {
    text-align: center;
    width: 17%;
    border: 1px solid black;
    border-radius: 100%;
    margin: 10px;
   
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: left;

}
.nav-links li {
    list-style: none;
    margin: 10px;
    
}
.log-in-and-basket{
    display: flex;
    margin-left: 250px;
}
.log-in-and-basket li {
    list-style-type: none;
    margin: 5px;
}

.closed-message {
    grid-area: closed-message;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.closed-message h3 {
    padding: 15px;
   
}

.pic-slider {
    grid-area: pic-slider;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.job-ad {
    grid-area: job-ad;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}
.ad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;
    height: 70%;
    background-color: rgb(25, 25, 165);
}

.welcome {
    grid-area: welcome;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.freshly-made-meals {
    grid-area: freshly-made-meals;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.menus {
    grid-area: menus;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

.meal-deals {
    grid-area: meal-deals;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
}